/* 
1. Posicionamiento
2. Modelo caja (box model)
3. Tipografía
4. Visuales
5. Otros
*/

:root {
  /* Colores */
  --medium-pink: #f0e1da;
  --black: #242424;
  --white: #ffffff;
  --aqua: #407d79;
  --soft-aqua: #9aafaf;
  --strong-pink: #ba8f87;
  --soft-pink: #f7f0ec;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Merriweather", serif;
}

/* HEADER STYLES */
.header__container {
  height: 100px;
  width: 100%;
  justify-content: space-between;
  padding: 20px 70px;
}
.header__title p {
  font-size: 4rem;
}
.header__nav {
  display: flex;
}
.header__nav ul {
  display: flex;
}
.header__nav ul li {
  margin-left: 30px;
  font-size: 1.8rem;
}
.header__nav ul li a {
  color: var(--black);
}
.horizontal-line {
  background-color: var(--medium-pink);
  padding: 0 70px;
}

/* MENU STYLES */
.menu__container {
  padding: 0 179px;
}
.menu__nav {
  display: flex;
}
.menu__nav ul {
  height: auto;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
}
.menu__nav ul li {
  text-align: center;
}
.menu__nav ul li a {
  color: var(--black);
}
.menu__search {
  width: 35%;
  margin-left: 100px;
}
.menu__search form {
  width: 100%;
}
.menu__search form input {
  width: 100%;
}
.menu__search img {
  display: none;
}

/* MAIN STYLES */
.main__section {
  min-height: 820px;
}
.aqua--bar {
  position: absolute;
  height: 230px;
  width: 100%;
}
.main__container {
  display: flex;
  justify-content: space-between;
  padding: 130px 70px;
}
.main__image {
  z-index: 1;
}
.main__image img {
  width: 560px;
}
.main__text {
  z-index: 2;
  padding-top: 35px;
  padding-left: 120px;
  color: var(--white);
}
.main__text .subtitle {
  font-size: 1.9rem;
}
.main__text h1 {
  padding-bottom: 10px;
  line-height: 5.6rem;
  font-size: 4.2rem;
}
.main__text .text {
  padding-bottom: 20px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--black);
}
.main__text button {
  height: 45px;
  width: 250px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 2.4rem;
  margin: 0;
}

/* SHOP STYLES */
.shop__boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.shop__title p {
  left: -100px;
  font-size: 14rem;
}
.shop__boxes .box p {
  font-size: 2rem;
}

/* MORE PRODUCTS SECTION */
.more__lastproducts {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.more__title {
  width: 28%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.more__title p {
  transform: rotate(-90deg);
  font-size: 10rem;
  text-align: start;
  margin-bottom: 220px;
}
.more__title img {
  display: initial;
  width: auto;
}
.more__cards {
  width: 80%;
}
.more__card {
  display: flex;
  width: 870px;
}
.more__img {
  height: 200px;
}
.more__img img {
  height: 200px;
  width: 200px;
  border-radius: 4px 0 0 4px;
}
.more__text {
  padding: 30px;
}
.more__text h3 {
  text-align: start;
}
.more__text p {
  text-align: start;
}
.more__text button {
  margin-right: 0;
}

/* NESLETTER STYLES */
.button__input {
  display: flex;
  width: 70%;
  margin: 0 auto;
}
.button__input form {
  width: 80%;
}
.button__input button {
  width: 20%;
}
/* .newsletter__section {
  height: auto;
  width: 100%;
  padding: 70px;
  background-color: var(--aqua);
}
.newsletter__container {
  height: 100%;
  width: 100%;
  padding: 45px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.newsletter__container .first__text {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  line-height: 2.4rem;
  font-size: 2rem;
  font-weight: bold;
}
.newsletter__container .second__text {
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2.2rem;
}
.newsletter__container .button__input {
  display: flex;
  justify-content: center;
}
.newsletter__container .button__input input {
  height: 40px;
  width: 450px;
  padding: 10px 20px;
  border: 1px solid rgba(36, 36, 36, 0.25);
  border-radius: 4px 0 0 4px;
}
.button__input button {
  height: 40px;
  width: auto;
  padding: 0 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--strong-pink);
  border: 1px solid rgba(36, 36, 36, 0.25);
  border-radius: 0 4px 4px 0;
} */
/* FOOTER STYLES */
footer {
  height: auto;
  width: 100%;
  padding: 50px 70px;
  text-align: center;
  background-color: var(--medium-pink);
}
.footer__title {
  margin-bottom: 30px;
  font-size: 4rem;
  font-weight: normal;
  line-height: 5rem;
  text-transform: uppercase;
}
footer hr {
  margin: 0;
  margin-bottom: 20px;
}
.footer__nav {
  width: 100%;
  padding: 0 120px;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.footer__nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}
.footer__nav input {
  height: 40px;
  width: 320px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid var(--strong-pink);
  border-radius: 4px;
}
.footer__rrss ul {
  display: flex;
  justify-content: center;
}
.footer__rrss ul li {
  padding: 0 5px;
  padding-bottom: 30px;
}
footer p {
  line-height: 2.4rem;
  font-size: 1.5rem;
  font-weight: 400;
}
