/* 
1. Posicionamiento
2. Modelo caja (box model)
3. Tipografía
4. Visuales
5. Otros
*/

:root {
  /* Colores */
  --medium-pink: #f0e1da;
  --black: #242424;
  --white: #ffffff;
  --aqua: #407d79;
  --soft-aqua: #9aafaf;
  --strong-pink: #ba8f87;
  --soft-pink: #f7f0ec;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Merriweather", serif;
  min-width: 320px;
}

/* HEADER STYLES */
.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: var(--medium-pink);
}
.header__title p {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.header__nav {
  display: none;
}

/* MENU STYLES */
.menu__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  padding: 0 30px;
  background-color: var(--medium-pink);
}
.menu__nav {
  width: 100%;
}
.menu__nav ul {
  display: none;
}
.menu__search {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.menu__search img {
  height: auto;
  width: 28px;
  object-fit: contain;
}
.menu__search form {
  width: 90%;
}
.menu__search form input {
  height: 40px;
  width: 90%;
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  border: 1px solid #ba8f87;
}

/* MAIN STYLES */
.main__section {
  position: relative;
  height: auto;
  min-height: 850px;
  background-color: var(--soft-pink);
}
.aqua--bar {
  height: 100px;
  background-color: var(--aqua);
}
.main__container {
  position: absolute;
  top: 40px;
  padding: 30px;
}
.main__image img {
  height: auto;
  width: 100%;
  padding-bottom: 20px;
}
.main__text .subtitle {
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--black);
}
.main__text h1 {
  padding-bottom: 20px;
  font-size: 4rem;
  font-weight: 400;
  color: var(--aqua);
}
.main__text .text {
  padding-bottom: 30px;
  font-size: 1.4rem;
}
.main__text button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  background-color: var(--strong-pink);
  border: none;
  color: var(--white);
}

/* SHOP STYLES */
.shop__container {
  padding: 30px;
  background-color: var(--aqua);
}
.shop__title p {
  padding: 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--soft-aqua);
}
.shop__products h2 {
  padding-bottom: 30px;
  font-size: 2.6rem;
  font-weight: normal;
  text-align: center;
  color: var(--white);
}
.shop__boxes .box img {
  width: 100%;
}
.shop__boxes .box p {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}
.shop__boxes .box button {
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  background-color: var(--strong-pink);
  border: none;
  color: var(--white);
}

/* MORE PRODUCTS SECTION */
.more__section {
  padding: 30px;
  background-color: var(--soft-pink);
}
.more__card {
  margin-bottom: 30px;
  background-color: #e8e8e8;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(46, 49, 49, 0.5);
}
.more__img img {
  height: 140px;
  width: 100%;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}
.more__text {
  padding: 20px;
}
.more__text h3 {
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: var(--aqua);
}
.more__text p {
  padding: 5px;
  font-size: 1.2rem;
  text-align: center;
}
.more__text button {
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  background-color: var(--strong-pink);
  border: none;
  color: white;
}
.more__title img {
  display: none;
}
.more__title p {
  padding-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: var(--aqua);
}

/* NESLETTER STYLES */
.newsletter__section {
  height: auto;
  padding: 30px;
  background-color: var(--aqua);
}
.newsletter__container {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
}
.first__text {
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}
.second__text {
  padding-bottom: 20px;
  font-size: 1.4rem;
  font-weight: normal;
  text-align: center;
}
.button__input input {
  height: 40px;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid rgba(36, 36, 36, 0.25);
}
.button__input button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 120px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  background-color: var(--strong-pink);
  border: none;
  color: white;
}

/* FOOTER STYLES */
footer {
  height: auto;
  padding: 30px;
  background-color: var(--medium-pink);
}
footer hr {
  margin-bottom: 20px;
}
.footer__title {
  padding-bottom: 20px;
  font-size: 3rem;
  letter-spacing: 1.2px;
  text-align: center;
  text-transform: uppercase;
}
.footer__nav {
  text-align: center;
}
.footer__nav ul li {
  padding-bottom: 10px;
}
.footer__nav ul li a {
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--black);
}
.footer__rrss ul {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 20px auto;
}
footer p {
  text-align: center;
}
