/* 
1. Posicionamiento
2. Modelo caja (box model)
3. Tipografía
4. Visuales
5. Otros
*/

:root {
  /* Colores */
  --medium-pink: #f0e1da;
  --black: #242424;
  --white: #ffffff;
  --aqua: #407d79;
  --soft-aqua: #9aafaf;
  --strong-pink: #ba8f87;
  --soft-pink: #f7f0ec;
}

/* HEADER STYLES */
.header__container {
  height: 80px;
}
.header__title p {
  font-size: 2.6rem;
}

/* MENU STYLES */
.menu__container {
  height: auto;
  padding: 0 70px;
}
.menu__nav ul {
  display: none;
}
.menu__search {
  height: 60px;
}
.menu__search form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* MAIN STYLES */
.main__section {
  min-height: 1150px;
}
.aqua--bar {
  height: 150px;
}
.main__container {
  padding: 60px 70px;
}
.main__text .subtitle {
  font-size: 1.8rem;
}
.main__text h1 {
  font-size: 4.8rem;
}
.main__text .text {
  padding-bottom: 40px;
  font-size: 1.8rem;
}
.main__text button {
  height: 60px;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

/* SHOP STYLES */
.shop__container {
  display: flex;
  padding: 70px;
}
.shop__title {
  position: relative;
  width: 20%;
}
.shop__title p {
  position: absolute;
  left: -100px;
  top: 200px;
  padding: 20px 0;
  font-size: 10rem;
  transform: rotate(-90deg);
}
.shop__products {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}
.shop__boxes {
  width: 80%;
}
.shop__boxes .box img {
  text-align: center;
}
.shop__boxes .box p {
  padding: 20px;
  font-size: 2.2rem;
}
.shop__boxes .box button {
  margin-bottom: 50px;
  padding: 15px 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

/* MORE PRODUCTS SECTION */
.more__section {
  padding: 70px;
}
.more__card {
  margin-bottom: 50px;
}
.more__img img {
  height: 200px;
}
.more__text h3 {
  font-size: 2.2rem;
}
.more__text p {
  font-size: 1.6rem;
}
.more__text button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
}

/* NESLETTER STYLES */
.newsletter__section {
  padding: 70px;
}
.first__text {
  font-size: 2rem;
}
.second__text {
  font-size: 1.6rem;
}
.button__input input {
  height: 50px;
  margin-bottom: 10px;
  font-size: 1.6rem;
}
.button__input button {
  height: 50px;
  width: 150px;
  font-size: 2rem;
}

/* FOOTER STYLES */
.footer__title {
  padding-bottom: 20px;
  font-size: 4rem;
}
.footer__nav ul li {
  padding-bottom: 15px;
}
.footer__nav ul li a {
  font-size: 1.8rem;
}
.footer__rrss ul {
  width: 30%;
}
footer p {
  font-size: 1.4rem;
}
