/* 
1. Posicionamiento
2. Modelo caja (box model)
3. Tipografía
4. Visuales
5. Otros
*/

:root {
  /* Colores */
  --medium-pink: #f0e1da;
  --black: #242424;
  --white: #ffffff;
  --aqua: #407d79;
  --soft-aqua: #9aafaf;
  --strong-pink: #ba8f87;
  --soft-pink: #f7f0ec;
}

/* HEADER STYLES */
.header__container {
  height: 80px;
}
.header__title p {
  font-size: 2.6rem;
}

/* MENU STYLES */
.menu__container {
  height: auto;
  padding: 0 70px;
}
.menu__nav ul {
  display: none;
}
.menu__search {
  height: 60px;
}
.menu__search form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

/* MAIN STYLES */
.main__section {
  min-height: 1150px;
}
.aqua--bar {
  height: 150px;
}
.main__container {
  padding: 60px 70px;
}
.main__text .subtitle {
  font-size: 1.8rem;
}
.main__text h1 {
  font-size: 4.8rem;
}
.main__text .text {
  font-size: 1.8rem;
  padding-bottom: 40px;
}
.main__text button {
  height: 60px;
  font-size: 2rem;
}

/* SHOP STYLES */
.shop__container {
  display: flex;
  padding: 70px;
}
.shop__title {
  width: 20%;
  position: relative;
}
.shop__title p {
  position: absolute;
  left: -180px;
  top: 200px;
  font-size: 14rem;
  padding: 20px 0;
  transform: rotate(-90deg);
}
.shop__products {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop__boxes .box img {
  text-align: center;
}
.shop__boxes .box p {
  font-size: 2.2rem;
  padding: 20px;
}
.shop__boxes .box button {
  padding: 15px 25px;
  font-size: 2rem;
  margin-bottom: 50px;
}

/* MORE PRODUCTS SECTION */
.more__section {
  background-color: var(--soft-pink);
  padding: 30px;
}
.more__card {
  background-color: #e8e8e8;
  margin-bottom: 30px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(46, 49, 49, 0.5);
}
.more__img img {
  border-radius: 4px 4px 0 0;
  width: 100%;
  height: 140px;
  object-fit: cover;
}
.more__text {
  padding: 20px;
}
.more__text h3 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: var(--aqua);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 5px;
}
.more__text p {
  text-align: center;
  font-size: 1.2rem;
  padding: 5px;
}
.more__text button {
  display: flex;
  color: white;
  background-color: var(--strong-pink);
  margin: 0 auto;
  margin-top: 10px;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.more__title img {
  display: none;
}
.more__title p {
  text-align: center;
  font-size: 3.6rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: var(--aqua);
  padding-bottom: 30px;
  font-weight: 400;
}

/* NESLETTER STYLES */
.newsletter__section {
  background-color: var(--aqua);
  padding: 30px;
  height: auto;
}
.newsletter__container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 30px;
}
.first__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
}
.second__text {
  font-weight: normal;
  font-size: 1.4rem;
  text-align: center;
  padding-bottom: 20px;
}
.button__input input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding: 10px 20px;
  text-align: center;
  border: 1px solid rgba(36, 36, 36, 0.25);
  margin-bottom: 10px;
}
.button__input button {
  display: flex;
  width: 120px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  border: none;
  background-color: var(--strong-pink);
  color: white;
  letter-spacing: 1.2px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

/* FOOTER STYLES */
footer {
  background-color: var(--medium-pink);
  height: auto;
  padding: 30px;
}
footer hr {
  margin-bottom: 20px;
}
.footer__title {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding-bottom: 20px;
}
.footer__nav {
  text-align: center;
}
.footer__nav ul li {
  padding-bottom: 10px;
}
.footer__nav ul li a {
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--black);
}
.footer__rrss ul {
  display: flex;
  width: 70%;
  margin: 20px auto;
  justify-content: space-between;
}
footer p {
  text-align: center;
}
